article.post {
    @include box-sizing(border-box);
    max-width: 800px;

    .post-header {

        .post-image {
            line-height: 0;
            margin-left: -20px;
        }

        .avatar-block {
            border: 2px solid #fff;
            @include border-radius(18px);
            display: inline-block;
            line-height: 0;
            margin: 0 5px;
            overflow: hidden;
            vertical-align: middle;
        }

        .author-block {
            display: inline-block;
            font-size: 14px;
            vertical-align: middle;

            .date {
                color: #999;
            }
        }

        .post-edit-link {
            margin-left: 5px;
            color: #c00;
            text-decoration: underline;
        }

        .post-byline {
            margin: 20px 0;
        }
    }

    .post-content {
        font: normal 18px $body-font;
//        text-align: justify;
//        @include hyphens(auto);

        p:first-child:first-letter {
            float: left;
            font: 56px $serif-font;
            margin: -5px 13px -20px 0;
        }
    }
}