article.post {
    max-width: 800px;

    .post-header {

        .post-image {
            font-size: 0;
            line-height: 0;
            margin: 0 -20px;
            position: relative;
        }

        .post-image-credit {
            background: #fff;
            bottom: 10px;
            font: normal 12px/20px $serif-font;
            height: 18px;
            @include opacity(0.8);
            padding: 0 4px;
            position: absolute;
            right: 10px;
        }

        .avatar-block {
            border: 2px solid #fff;
            @include border-radius(18px);
            display: inline-block;
            line-height: 0;
            margin: 0 5px;
            overflow: hidden;
            vertical-align: middle;
        }

        .author-block {
            display: inline-block;
            font-size: 14px;
            vertical-align: middle;

            .date {
                color: #999;
            }
        }

        .post-edit-link {
            margin-left: 5px;
            color: #c00;
            text-decoration: underline;
        }

        .post-byline {
            margin: 20px 0;
        }
    }

    .post-content {
        font: normal 18px $body-font;
//        text-align: justify;
//        @include hyphens(auto);

        p:first-child:first-letter {
            float: left;
            font: 56px/70px $serif-font;
            margin: -5px 13px -20px 0;

            @-moz-document url-prefix() { // Firefox-only hack
                & {
                    margin: 8px 13px -5px 0;
                }
            }
        }
    }
}