.post {
    @include box-sizing(border-box);
    .post-image-block {
        float: left;
        text-align: center;
        width: 40%;
        .post-image {
            display: block;
            line-height: 0;
            .wp-post-image {
                height: auto;
                width: 100%;
            }
        }
        .post-category {
            margin-bottom: -14px;
            position: relative;
            z-index: 1;
            a {
                background: rgba(240, 64, 64, 0.8);
                border: 1px solid #fff;
                color: #fff;
                display: inline-block;
                line-height: 20px;
                padding: 3px 10px;
                &:hover {
                    background: tint(rgba(240, 64, 64, 0.8), 20%);
                    text-decoration: none;
                }
            }
        }
    }
    .post-text {
        @include box-sizing(border-box);
        float: left;
        padding: 0 20px;
        width: 60%;
        h3 {
            font-size: 24px;
            line-height: 26px;
            margin: 0 0 10px 0;
            a {
                color: #333;
            }
        }
    }
    .avatar-block {
        border: 2px solid #fff;
        @include border-radius(18px);
        float: left;
        line-height: 0;
        overflow: hidden;
        margin-right: 10px;
    }
    .author-block {
        font-size: 11px;
        padding: 5px 0;
    }
}