.clearfix {
    &:before, &:after {
        content:"";
        display: table;
    }
    &:after {
        clear: both;
    }
}

*, *:after, *:before {
    @include box-sizing(border-box);
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}