.clearfix {
    &:before, &:after {
        content:"";
        display: table;
    }
    &:after {
        clear: both;
    }
}

html {
    @include box-sizing(border-box);
}

*, *:before, *:after {
    box-sizing: inherit;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}