.clearfix {
    &:before, &:after {
        content:"";
        display: table;
    }
    &:after {
        clear: both;
    }
}
.readmore {
    font: normal 14px $serif-font;
}

*, *:after, *:before {
    @include box-sizing(border-box);
}