.editors-picks {
    margin: 0 -20px;
    @include display-flex();
    @include flex-wrap(wrap);

    .col {
        .post-title {
            letter-spacing: 0.04em;
        }

        &.main-story {
            @include order(-1);

            .nav-block {
                display: none;
            }
        }

        @include breakpoint(tablet) {
            width: 25%;

            &.main-story {
                @include order(inherit);

                .nav-block {
                    display: block;
                }
            }
        }
    }

    .col2 {
        color: #fff;

        @include breakpoint(tablet) {
            width: 50%;
        }

        .post-text {
            background: #000;
            padding: 10px;
        }

        .post-title {
            color: #fff;
            font-weight: normal;
            font-size: 28px;
            letter-spacing: 0.08em;
            margin: 15px 0;
        }

        a, a:hover {
            color: inherit;
        }

        .loadmore {
            color: #000;
        }
    }

    .col3 {
        @include breakpoint(tablet) {
            .nav-block {
                display: none;
            }
        }
    }

    .post-container {
        padding: 20px;
    }
}


.post-container {

    .post-image {
        display: block;
        line-height: 0;
        position: relative;

        img {
            height: auto;
            width: 100%;
        }
    }

    .post-category-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include opacity(0);
        @include transition(opacity 500ms);
    }

    .post-category-table {
        display: table;
        height: 100%;
        width: 100%;
    }

    .post-category-cell {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    .post-category {
        color: #fff;
        display: inline-block;
        font-family: $alternate-font;
        line-height: 1.1;
        @include transform(translateY(40px));
        padding: 10px 15px;
        text-transform: uppercase;
        @include transition(background-color 500ms, transform 200ms ease-out);
    }

    .post-text {
        border: 3px solid #000;
        text-align: center;
        padding: 10px;
        @include transition(border 500ms);
    }

    .post-title {
        font-size: 20px;
        margin: 5px 0;
    }

    @mixin category($color) {
        .post-category { background-color: $color }
        .post-category-container {
            @include background-image(linear-gradient(left top,
                rgba($color, 0.5) 0%, rgba(adjust_hue($color, 40), 0.5) 100%));
        }
        &:hover .post-text { border-color: $color }
    };

    &.music-category   { @include category($music-category) }
    &.art-category     { @include category($art-category) }
    &.fashion-category { @include category($fashion-category) }
    &.beauty-category  { @include category($beauty-category) }
    &.sex-category     { @include category($sex-category) }
    &.living-category  { @include category($living-category) }

    &:hover {
        .post-category-container {
            @include opacity(1);
        }

        .post-category {
            @include transform(translateY(0));
        }
    }
}

.latest-posts {
    margin: 0 -20px -40px -20px;
    @include display-flex();
    @include flex-wrap(wrap);

    .post-container {
        @include display-flex();
        margin-bottom: 40px;
        width: 100%;
        padding: 0 20px;

        @include breakpoint(tablet) {
            width: 49.9%;
        }

        @include breakpoint(laptop) {
            width: 33.3%;
        }
    }

    .post-image, .post-text {
        width: 50%;
    }

    .post-text {
        border-color: transparent;
        text-align: left;
        overflow: hidden;
        position: relative;
        max-height: 242px;

        &:before {
            @include background-image(linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 80%,rgba(255,255,255,1) 100%));
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            pointer-events: none;
            right: 0;
            top: 0;
        }
    }

    .post-title {
        font: normal 18px/18px $serif-font;
        text-transform: none;
        margin: 0;

        &:hover {
            text-decoration: underline;
        }
    }

    .excerpt {
        @include hyphens(auto);
        text-overflow: ellipsis;
    }
}