h2.separator {
    border-bottom: 1px solid #ddd;
}
.editors-picks {
    .col {
        width: 25%;
        float: left;
    }
    .col2 {
        width: 50%;
        .story-container .story-text {
            background: #fff;
            position: relative;
            margin: 0 50px;
            padding: 0 20px;
            top: -100px;
            h2 {
                font-size: 32px;
                line-height: 36px;
            }
        }
    }
    .story-container {
        .story-image {
            line-height: 0;
            margin: 20px 20px 0 20px;
            img {
                height: auto;
                width: 100%;
            }
        }
        .story-text {
            margin: 0 20px 20px 20px;
            text-align: center;
            .avatar-block {
                border: 2px solid #fff;
                @include border-radius(18px);
                display: inline-block;
                line-height: 0;
                margin-top: -18px;
                overflow: hidden;
            }
            .meta {
                font-size: 11px;
            }
            .author-name {
                font-weight: bold;
            }
            h2 {
                line-height: 26px;
            }
        }
    }
    .readmore {
        &:after {
            content: " \0219d"
        }
    }
}