body {
    background: #fff;
    color: #333;
    font-family: $body-font;
    font-size: 16px;
    margin: 0;
    padding: 44px 0 0 0;
    -webkit-font-smoothing: antialiased;

    @include breakpoint(laptop) {
        padding-top: 0;
    }
}

a, a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

.page-width {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

#header-outer {
    background: #141414;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;

    @include breakpoint(laptop) {
        position: static;
    }

    #logo {
        float: left;
        font-size: 0;
        img {
            height: 44px;

            @include breakpoint(desktop) {
                height: 90px;
            }
        }
    }

    nav {
        @include breakpoint(desktop) {
            margin-left: 200px;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;

        @include breakpoint(laptop) {
            margin-left: 5px;
        }

        @include breakpoint(desktop) {
            margin-top: 38px;
        }
    }

    .main-navigation {
        display: none;
        font-family: $alternate-font;
        font-size: 16px;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        &.open {
            background-color: rgba(0,0,0,0.8);
            bottom: 0;
            display: block;
            left: 0;
            position: fixed;
            right: 0;
            top: 44px;
            z-index: 1;

            li {
                display: block;
            }
        }

        @include breakpoint(laptop) {
            display: block;
        }

        @include breakpoint(desktop) {
            font-size: 21px;
        }

        a {
            color: #fff;
            display: block;
            padding: 10px 12px 10px 12px;
            @include transition(background-color 200ms);

            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .search-container {
        font-size: 0;
        margin-top: 8px;

        @include breakpoint(laptop) {
            float: right;
        }

        @include breakpoint(desktop) {
            margin-top: 48px;
        }
    }

    .search-field {
        @include appearance(none);
        border: 0;
        @include border-radius(20px);
        font-size: 14px;
        height: 28px;
        outline: none;
        margin-left: 10px;
        padding: 5px 32px 5px 10px;
        @include transition(width 500ms);
        width: 180px;

        @include breakpoint(laptop) {
            margin-left: 0;
            width: 130px;
        }

        &:focus {
            width: 180px;
        }
    }

    .search-submit {
        @include appearance(none);
        background: url($sprite) no-repeat -24px 1px;
        border: 0;
        cursor: pointer;
        height: 22px;
        margin: 0 0 3px -32px;
        text-indent: -999px;
        vertical-align: bottom;
        width: 24px;
    }

    #menu-toggle {
        background: url($sprite) no-repeat 0 0;
        cursor: pointer;
        float: right;
        height: 30px;
        margin-top: 6px;
        position: relative;
        width: 36px;

        &:after {
            content: "";
            left: -10px;
            padding: 22px 28px;
            position: absolute;
            top: -6px;
        }

        @include breakpoint(laptop) {
            display: none;
        }
    }

    .music-category   { &.selected a, a:hover { background-color: $music-category } }
    .art-category     { &.selected a, a:hover { background-color: $art-category } }
    .fashion-category { &.selected a, a:hover { background-color: $fashion-category } }
    .beauty-category  { &.selected a, a:hover { background-color: $beauty-category } }
    .sex-category     { &.selected a, a:hover { background-color: $sex-category } }
    .living-category  { &.selected a, a:hover { background-color: $living-category } }
    .shop-category    { &.selected a, a:hover { background-color: $shop-category } }
}

#header-inner {
    padding: 0 20px;
}

#sub-header {
    padding: 20px;

    .pull-right {
        text-align: center;
    }

    .social-icons {
        margin-bottom: 10px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;

        a {
            color: #000;
            display: block;
            font-size: 20px;
            padding: 5px 0;
            margin: 0 3px;
            @include transition(color 250ms);

            &:hover {
                color: $red;
                text-decoration: none;
            }
        }
    }

    .subscribe-box {
        border: 2px solid #000;
        font: normal 12px $alternate-font;
        max-width: 160px;
        margin: 0 auto 20px auto;
        padding: 4px;
        text-transform: uppercase;

        .title {
            font-size: 24px;
        }

        span {
            font: normal 16px $serif-font;
            text-transform: none;
        }

        form {
            margin-top: -10px;
        }

        input {
            border: 2px solid $red;
            background: $red;
            color: #fff;
            font: 300 12px $alternate-font;
            padding: 3px 4px;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            top: 16px;
            @include transition(border-color 250ms);

            @include placeholder {
                color: #fff;
            }

            &:focus {
                border-color: #000;
                outline: none;
            }
        }
    }
}


.ad.leaderboard {
    display: none;

    @include breakpoint(laptop) {
            display: block;
    }
}

article {
    clear: both;
    padding: 0 20px;
}

.instagram.section-heading {
    clear: none;
    margin: 0 20px;
    padding-top: 50px;
}

.instagram-feed {
    margin: 0 10px;
}

footer {
    margin-top: 10px;
}

#footer-outer {
    clear: both;
    padding: 0 20px;
}

#footer-inner {
    border-top: 1px solid #000;
    padding: 10px 0;

    @include breakpoint(tablet) {
        padding: 50px 0;
    }

    form {
        margin: 20px 0;

        @include breakpoint(tablet) {
            float: right;
        }
    }

    .email, .submit {
        @include appearance(none);
        background: #000;
        border: 1px solid #fff;
        @include box-shadow(inset 1px 1px 0 #000, inset -1px -1px 0 #000);
        color: #fff;
        font: normal 14px/20px $body-font;
        margin: 0;
        padding: 8px 14px;
        height: 36px;
        vertical-align: bottom;
        @include transition(background 250ms);

        &:focus {
            outline: none;
        }

        @include placeholder {
            color: #ddd;
        }
    }

    .email {
        border-right: 0;
    }

    .email:focus ~ .submit, .submit:hover {
        background: #fff;
        color: #000;
    }

    ul {
        @include display-flex();
        @include flex-direction(column);
        @include flex-wrap(wrap);
        list-style: none;
        margin: 0;
        padding: 0;
        max-width: 400px;

        @include breakpoint(tablet) {
            height: 50px;
        }

        li {
            display: inline-block;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

#footer-bottom {
    clear: both;
    background: #e4bb18;
    color: #fff;
    font-size: 13px;
    padding: 15px 10px 20px 10px;
    text-align: center;
    text-transform: uppercase;
}