body, html {
    background: #fff;
    color: #333;
    font-family: $body-font;
    font-size: 16px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

a, a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: $alternate-font;
    font-weight: normal;
    line-height: 1.2;
    text-transform: uppercase;
    a:hover {
        text-decoration: none;
    }
}

h1 { font-size: 36px }
h2 { font-size: 32px }
h3 { font-size: 24px }
h4 { font-size: 18px }
h5 { font-size: 14px }
h6 { font-size: 12px }

h1 {
    font-family: $serif-font;
}

h2 {
    font-weight: 300;
}

.page-width {
    margin: 0 auto;
    max-width: $desktop-max-width;
    width: 100%;
}

#header-outer {
    background: #141414;

    #logo {
        float: left;
        font-size: 0;
    }

    nav {
        margin-left: 200px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        margin-top: 28px;
    }

    .main-navigation {
        font-family: $alternate-font;
        font-size: 21px;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        a {
            color: #fff;
            display: block;
            margin-left: 5px;
            padding: 10px 12px 20px 12px;
            @include transition(background-color 200ms);

            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .search-container {
        float: right;
        font-size: 0;
        margin-top: 38px;
    }

    .search-field {
        @include appearance(none);
        border: 0;
        @include border-radius(20px);
        font-size: 14px;
        height: 28px;
        outline: none;
        padding: 5px 32px 5px 10px;
        @include transition(width 500ms);
        width: 130px;

        &:focus {
            width: 180px;
        }
    }

    .search-submit {
        @include appearance(none);
        background: url('images/search.svg') no-repeat center center;
        border: 0;
        cursor: pointer;
        height: 24px;
        margin-left: -32px;
        text-indent: -999px;
        vertical-align: bottom;
        width: 24px;
    }

    .music-category   { &.selected a, a:hover { background-color: $music-category } }
    .art-category     { &.selected a, a:hover { background-color: $art-category } }
    .fashion-category { &.selected a, a:hover { background-color: $fashion-category } }
    .beauty-category  { &.selected a, a:hover { background-color: $beauty-category } }
    .sex-category     { &.selected a, a:hover { background-color: $sex-category } }
    .living-category  { &.selected a, a:hover { background-color: $living-category } }
    .shop-category    { &.selected a, a:hover { background-color: $shop-category } }
}

#header-inner {
    padding: 0 20px;
}

#sub-header {
    padding: 20px;

    .pull-right {
        text-align: center;
    }

    .social-icons {
        margin-bottom: 10px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;

        a {
            color: #000;
            display: block;
            font-size: 20px;
            padding: 5px 0;
            margin: 0 3px;
            @include transition(color 250ms);

            &:hover {
                color: $red;
                text-decoration: none;
            }
        }
    }

    .subscribe-box {
        border: 2px solid #000;
        font: normal 12px $alternate-font;
        max-width: 160px;
        margin: 0 auto 20px auto;
        padding: 4px;
        text-transform: uppercase;

        .title {
            font-size: 24px;
        }

        span {
            font: normal 16px $serif-font;
            text-transform: none;
        }

        form {
            margin-top: -10px;
        }

        input {
            border: 2px solid $red;
            background: $red;
            color: #fff;
            font: 300 12px $alternate-font;
            padding: 3px 4px;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            top: 16px;
            @include transition(border-color 250ms);

            @include placeholder {
                color: #fff;
            }

            &:focus {
                border-color: #000;
                outline: none;
            }
        }
    }
}

article {
    clear: both;
    padding: 0 20px;
}

.instagram.section-heading {
    margin: 50px 20px 0 20px;
}

.instagram-feed {
    margin: 0 10px;
}

footer {
    margin-top: 10px;
}

#footer-outer {
    clear: both;
    padding: 0 20px;
}

#footer-inner {
    border-top: 1px solid #000;
    padding: 50px 0 50px 0;

    ul {
        @include display-flex();
        @include flex-direction(column);
        @include flex-wrap(wrap);
        list-style: none;
        height: 50px;
        margin: 0;
        padding: 0;
        max-width: 400px;

        li {
            display: inline-block;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

#footer-bottom {
    clear: both;
    background: #e4bb18;
    color: #fff;
    font-size: 13px;
    padding: 15px 10px 20px 10px;
    text-align: center;
    text-transform: uppercase;
}